<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Haustierverleih</title>

    <link rel="stylesheet" href="css/uikit.min.css" />
    <script src="js/uikit.min.js"></script>
    <script src="js/uikit-icons.min.js"></script>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.9.3/dist/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.3/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.3/dist/js/uikit-icons.min.js"></script>
</head>

<body>
    <!-- Navigation oben -->
    <%- include("../partials/navbar.ejs") %>

    <!-- 1 Text-Teil -->
    <div style="width: 100%; height: 80vh;" class=" uk-background-none uk-height-1-1 uk-card uk-card-default uk-card-body uk-flex uk-flex-center uk-flex-middle">
        <form action="/addtierheim" method="post">
      
          

            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon=""></span>
                    <input class="uk-input" type="text" id="thname" name="thname" placeholder="Name">
                </div>
            </div>

            <div class="uk-margin">
                <div class="uk-inline">
                    <span class="uk-form-icon" uk-icon=""></span>
                    <input class="uk-input" type="text" id="thadresse" name="thadresse" placeholder="Adresse">
                </div>
            </div>

            <button type="submit" class="uk-button uk-button-default">Tierheim hinzufügen</button>
        
        </form>
    </div>

    <!-- Footer -->
    <%- include("../partials/footer.ejs") %>
    
</body>
</html>
