<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Haustiervermietung</title>

    <link rel="stylesheet" href="css/uikit.min.css"/>
    <script src="js/uikit.min.js"></script>
    <script src="js/uikit-icons.min.js"></script>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.9.3/dist/css/uikit.min.css"/>
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.3/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.3/dist/js/uikit-icons.min.js"></script>
</head>

<body>
    <!-- Navigation oben -->
    <nav style="position:fixed; z-index: 100; width: 100%; height: 10vh;" class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-thumbnav">
                <li><a href="/"><img src="../images/logo1.png" alt=""></a></li>
            </ul>
            <ul class="uk-navbar-nav uk-text-bold">
                <li style="margin-left:650px">
                    <a href="/tiere">Tiere</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav ">
                            <li><a href="tiere/hund">Hunde</a></li>
                            <li><a href="tiere/katze">Katzen</a></li>
                            <li><a href="tiere/hamster">Hamster</a></li>
                            <li><a href="tiere/vogel">Vögel</a></li>
                            <li><a href="tiere/schildkroete">Schildkröten</a></li>
                            <li><a href="tiere/sonstige">Sonstiges</a></li>
                        </ul>
                    </div>
                </li>
                <li style="margin-left:50px">
                    <a href="/tierheim">Tierheime</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="/tierheim/partner_werden">Partner werden</a></li>
                            <li><a href="/tierheim/kontakt">Kontakt</a></li>
                        </ul>
                    </div>
                </li>
                <li style="margin-left:50px">
                    <a href="/ueberUns">Über uns</a>
                </li>
                <li style="margin-left:50px">
                    <a>Admin Funktionen</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="/addTiere">Tiere hinzufügen</a></li>
                            <li><a href="/addTierheim">Tierheim hinzufügen</a></li>
                            <li><a href="/tickets">Tickets</a></li>
                        </ul>
                    </div>
                </li>
             </ul>
        </div>

        <div class="uk-navbar-right uk-text-bold" >
            <form action="/logout?_method=DELETE" method="POST">
                <button class="uk-button uk-button-default" type="submit">Ausloggen</button>
            </form>
        </div>

        <div class="uk-navbar-right uk-text-bold" style="margin-right:50px">
            <ul class="uk-navbar-nav">
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
    </nav>

    <!-- Background + Text -->
    <div style="width: 100%; height: 90vh; background-image: url(images/bg1.png);" class=" uk-background-top-center uk-height-1-1 uk-card uk-card-default uk-card-body uk-flex uk-flex-left uk-flex-middle">
        <p class="uk-heading-small" style=" margin-top: 5%; margin-left: 4%;">
            Du willst beim ersten Date 
            <br> mit einem Haustier beeindrucken, 
            <br>
            <br> oder fühlst dich während
            <br> der Corona-Zeit einsam?
            <br>
            <br>Dann miete dir bei uns ein Haustier!
        </p>
    </div>

    <!-- 1 Text-Teil -->
    <div style="width: 100%; height: 100vh;" class="uk-height-1-1 uk-card uk-card-default uk-card-body uk-flex uk-flex-center uk-flex-middle uk-background-muted">
        <div>
            <a class="uk-button" href="" uk-scroll  uk-totop style="margin-top: -49%; margin-left: 49%;"></a>

            <h1>Wir ermöglichen es Ihnen ein Haustier aus den umliegenden Tierheimen zu mieten.</h1>
        </div>
    </div>

    <!-- Bewertungen -->
    <div id="Bewertungen" style="width: 100%; height: 60vh;" class="uk-background-none uk-height-1-1 uk-card uk-card-default uk-card-body uk-flex uk-flex-center uk-flex-middle">
        
        <h1 style="margin-top: -20%; margin-left: 5%;" class="uk-heading-medium" >Bewertungen:</h1>

        <div style="width: 50%;  margin-top: 10%; margin-left: -21%;">
            <article class="uk-comment">
                <header class="uk-comment-header">
                    <div class="uk-grid-medium uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-comment-avatar" src="images/junge.png" width="80" height="80" alt="">
                        </div>
                        <div class="uk-width-expand">
                            <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Max Mustermann</a></h4>
                        </div>
                    </div>
                </header>
                <div class="uk-comment-body">
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                </div>
            </article>
        </div>

        <a class="uk-button" href="" uk-scroll  uk-totop style="margin-top: -25%;"></a>

        <div style="width: 50%; margin-top: -10%; margin-left: 5%;">
            <article class="uk-comment">
                <header class="uk-comment-header">
                    <div class="uk-grid-medium uk-flex-middle" uk-grid>
                        <div class="uk-width-auto">
                            <img class="uk-comment-avatar" src="images/frau.png" width="80" height="80" alt="">
                        </div>
                        <div class="uk-width-expand">
                            <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Mia Mustermann</a></h4>
                        </div>
                    </div>
                </header>
                <div class="uk-comment-body">
                    <p>
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                </div>
            </article>
        </div>
    </div>

    <!-- Footer -->
    <div style="width: 100%; height: 20vh;" class=" uk-background-secondary uk-height-1-1 uk-card uk-card-default uk-card-body uk-flex uk-flex-center uk-flex-middle">
        <span uk-icon="instagram"></span>
        <span uk-icon="facebook"></span>
        <span uk-icon="twitter"></span>
        <span uk-icon="youtube"></span>
    </div>
</body>
</html>