<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Haustierverleih</title>

    <link rel="stylesheet" href="css/uikit.min.css" />
    <script src="js/uikit.min.js"></script>
    <script src="js/uikit-icons.min.js"></script>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.9.3/dist/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.3/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.3/dist/js/uikit-icons.min.js"></script>
</head>

<body>
    <!-- Navigation oben -->
    <%- include("../partials/navbar.ejs") %>

    <!-- 1 Text-Teil -->
    <div style="width: 100%; height: 80vh;" class=" uk-background-none uk-height-1-1 uk-card uk-card-default uk-card-body uk-flex uk-flex-center uk-flex-middle">
        <form action="/tierheim/kontakt" method="post">
            <fieldset class="uk-fieldset" style="width: 500px;">
        
                <legend class="uk-legend" id="ttart" name="ttart" >Kontaktformular</legend>
        
                <div class="uk-margin">
                    <input class="uk-input" type="text" id="kname" name="kname" placeholder="Name">
                </div>

                <div class="uk-margin">
                    <input class="uk-input" type="text" id="kemail" name="kemail" placeholder="E-Mail">
                </div>
        
                <div class="uk-margin">
                    <input class="uk-input" type="text" id="select" name="select" placeholder="Kontaktgrund">
                </div>
                
                <div class="uk-margin">
                    <textarea class="uk-textarea" rows="7" placeholder="Text" id="ktext" name="ktext"></textarea>
                </div>
            </fieldset>

            <button type="submit" class="uk-button uk-button-default">Formular absenden</button>

        </form>
    </div>

    <!-- Footer -->
    <%- include("../partials/footer.ejs") %>
    
</body>
</html>