<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Haustierverleih</title>

    <link rel="stylesheet" href="css/uikit.min.css" />
    <script src="js/uikit.min.js"></script>
    <script src="js/uikit-icons.min.js"></script>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.9.3/dist/css/uikit.min.css" />
    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.3/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.3/dist/js/uikit-icons.min.js"></script>
</head>

<body>
    <!-- Navigation oben -->
    <nav style="position:fixed; z-index: 100; width: 100%; height: 10vh;" class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-thumbnav">
                <li class="uk-active"><a href=""><img src="" alt=""></a></li>
                <li><a href="/"><img src="../images/logo1.png" alt=""></a></li>
            </ul>
            <ul class="uk-navbar-nav uk-text-bold">
                <li style="margin-left:650px">
                    <a href="/tiere">Tiere</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav ">
                            <li><a href="tiere/hund">Hunde</a></li>
                            <li><a href="tiere/katze">Katzen</a></li>
                            <li><a href="tiere/hamster">Hamster</a></li>
                            <li><a href="tiere/vogel">Vögel</a></li>
                            <li><a href="tiere/schildkroete">Schildkröten</a></li>
                            <li><a href="tiere/sonstige">Sonstiges</a></li>
                        </ul>
                    </div>
                </li>
                <li style="margin-left:50px">
                    <a href="/tierheim">Tierheime</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="/tierheim/partner_werden">Partner werden</a></li>
                            <li><a href="/tierheim/kontakt">Kontakt</a></li>
                        </ul>
                    </div>
                </li>
                <li style="margin-left:50px">
                    <a href="/ueberUns">Über uns</a>
                </li>
                <li style="margin-left:50px">
                    <a href="/adminsite">Admin Funktionen</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li><a href="/addTiere">Tiere hinzufügen</a></li>
                            <li><a href="/addTierheim">Tierheim hinzufügen</a></li>
                            <li><a href="/tickets">Tickets</a></li>
                        </ul>
                    </div>
                </li>
             </ul>
        </div>

        <div class="uk-navbar-right uk-text-bold" style="margin-right:50px">
            <ul class="uk-navbar-nav">
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
    </nav>

    <!-- 1 Text-Teil -->
    <div style="width: 100%; height: 80vh;" class=" uk-background-none uk-height-1-1 uk-card uk-card-default uk-card-body uk-flex uk-flex-center uk-flex-middle">
        <h1>Wir sind ein Startup-Unternehmen welches sich das Ziel gesetzt hat, 
        die umliegenden Tierheime zu entlasten und dafür zu sorgen, Tiere zu vermitteln.</h1>
    </div>

    <!-- Footer -->
    <div style="width: 100%; height: 20vh;" class=" uk-background-secondary uk-height-1-1 uk-card uk-card-default uk-card-body uk-flex uk-flex-center uk-flex-middle">
        <span uk-icon="instagram"></span>
        <span uk-icon="facebook"></span>
        <span uk-icon="twitter"></span>
        <span uk-icon="youtube"></span>
    </div>
</body>
</html>